In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
Demo_1 = ("target_files/nbhd_race_sql.csv")
Demo_2 = ("target_files/MLS_Income_by_Neighborhoods.csv")
Demo_3 = ("target_files/cmnty_race_sql.csv")
Demo_4 = ("target_files/MLS_Income_by_Community.csv")
Force = ("target_files/MLS_Police_Use_Of_Force_Cleaned_Data.csv")

In [3]:
Race_N = pd.read_csv(Demo_1)
Income_N = pd.read_csv(Demo_2)
Race_C = pd.read_csv(Demo_3)
Income_C = pd.read_csv(Demo_4)
Force_df = pd.read_csv(Force)

In [4]:
Race_N.describe()

,Unnamed: 0,neighborhood_id,total_cnt,white_pct,black_pct,native_pct,asian_pct,other_pct,two_or_more_pct,hispanic_pct,of_color_pct
count,56.000000,56.000000,56.000000,56.000000,45.000000,8.000000,40.000000,17.000000,50.000000,47.000000,56.000000
mean,27.500000,43.732143,6236.827461,0.661018,0.216778,0.025125,0.063300,0.097176,0.048660,0.101426,0.338913
std,16.309506,26.635241,2550.468476,0.214978,0.161651,0.019231,0.057262,0.057421,0.022316,0.084040,0.214993
min,0.000000,1.000000,3039.000000,0.154000,0.023000,0.006000,0.011000,0.009000,0.018000,0.014000,0.084000
25%,13.750000,22.750000,4605.000000,0.559500,0.095000,0.010750,0.024750,0.066000,0.036250,0.043000,0.175037
50%,27.500000,45.500000,5612.500000,0.734000,0.158000,0.021500,0.035500,0.081000,0.041500,0.071000,0.265809
75%,41.250000,66.500000,7165.250000,0.824750,0.307000,0.031250,0.101500,0.144000,0.059000,0.121000,0.440639
max,55.000000,87.000000,14169.000000,0.916000,0.563000,0.060000,0.205000,0.211000,0.148000,0.389000,0.846016

In [5]:
Race_C.describe()

,Unnamed: 0,community_id,total_cnt,white_pct,black_pct,native_pct,asian_pct,other_pct,two_or_more_pct,hispanic_pct,of_color_pct
count,11.000000,11.000000,11.000000,11.000000,11.000000,9.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,5.000000,6.000000,37790.090909,0.619364,0.209636,0.018333,0.061364,0.047273,0.046182,0.096909,0.380636
std,3.316625,3.316625,10084.321013,0.216511,0.149207,0.014858,0.050086,0.047913,0.010998,0.076796,0.216511
min,0.000000,1.000000,22063.000000,0.230000,0.046000,0.010000,0.020000,0.010000,0.034000,0.036000,0.139000
25%,2.500000,3.500000,31588.500000,0.515500,0.097500,0.011000,0.028000,0.016000,0.038500,0.044000,0.227500
50%,5.000000,6.000000,35930.000000,0.662000,0.190000,0.014000,0.033000,0.031000,0.044000,0.072000,0.338000
75%,7.500000,8.500000,42920.500000,0.772500,0.274500,0.018000,0.091000,0.052500,0.049000,0.105500,0.484500
max,10.000000,11.000000,57183.000000,0.861000,0.479000,0.057000,0.153000,0.154000,0.068000,0.259000,0.770000

In [6]:
Force_df.head()

,response_date,case_number,problem,subject_race,subject_sex,subject_age,subject_role,primary_offense,type_of_resistance,police_use_of_force_type,force_type_action,subject_injury,Lat,Long,neighborhood_id,neighborhood,precinct
0,2008-01-05 22:57:23,08-005343,Suspicious Person,Black,Male,29,A,FLEEFT,Fled on Foot,Bodily Force,Punches,Yes,45.018526,-93.291183,45,Mckinley,4
1,2008-01-10 22:21:53,08-010291,Motor Vehicle Chase,White,Male,22,A,FLEE,Fled in Vehicle,Bodily Force,Punches,Yes,44.943185,-93.265782,25,Central,3
2,2008-01-25 18:04:32,08-024156,Disturbance,Black,Male,40,A,DISCON,Commission of Crime,Taser,Firing Darts,No,44.979702,-93.268029,73,Downtown West,1
3,2008-01-27 02:44:26,08-025819,Disturbance,Black,Male,29,A,DISCON,Commission of Crime,Chemical Irritant,Crowd Control Mace,NaN,44.982469,-93.271954,73,Downtown West,1
4,2008-02-10 04:54:24,08-039928,Traffic Law Enforcement,Black,Male,28,A,FLEE,Fled in Vehicle,Bodily Force,Knees,Yes,44.978019,-93.277025,73,Downtown West,1